/* ===========================
   Swiper Slider
=========================== */

.swiper {
  padding: 10px 60px 50px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  background: #ffffff;
  color: #000 !important;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.swiper-button-prev {
  left: 8px !important;
}

.swiper-button-next {
  right: 8px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #f97316;
  color: #ffffff !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: 700;
}

.swiper-slide {
  height: auto;
}
